@use '~styles/main' as *;

.card {
  background-color: $background-card;
  // height: $game-card-size;
  // width: $game-card-size;

  max-width: 15rem;
  max-height: 15rem;

  min-height: $min-game-card-size;
  min-width: $min-game-card-size;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  aspect-ratio: 1 / 1;

  // @media (max-width: $desktop-viewport) {
  // $min-game-card-size: 1rem;
  // height: 10vw;
  // width: 10vw;
  // }
}

/* FlipCard.css */
.flip-card {
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg); /* Flip to the back side */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back when flipped */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.flip-card-front {
  background: #007bff;
}

.flip-card-back {
  background: #28a745;
  transform: rotateY(180deg); /* Backside is rotated initially */
}
