@use '~styles/main' as *;

.header {
  position: relative;
  @include flex(row, space-between, center);
  width: 100%;
  border-radius: 1em;
  @include primary-border;
  padding: 5px;
  gap: 1em;

  @media (max-width: $desktop-viewport) {
    font-size: 16px;
  }

  @media (max-width: $tablet-viewport) {
    font-size: 15px;
  }

  @media (max-width: $mobile-viewport) {
    font-size: 14px;
  }

  @media (max-width: $small-mobile-viewport) {
    font-size: 13px;
  }

  &__title {
    text-wrap: nowrap;
    font-size: 1.5em;
    color: $text-primary;
  }

  &__counter {
    @include flex(row, center, center);
    gap: 2px;
    &_icon_red {
      color: red;
    }
    &_icon_green {
      color: green;
    }
    font-size: 1.7em;
    font-weight: 700;
    color: $text-primary;
  }

  &__settings {
    &_icon {
      &:hover {
        color: $interaction-primary;
        transform: rotate(185deg);
      }
      color: $text-primary;
      cursor: pointer;
      font-size: 3em !important;
      transition: transform 0.5s ease-out !important;
    }
  }
}
