{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true // Add this line to enable Jest globals
  },
  "plugins": [
    "import",
    "jest" // Add this line to include the Jest plugin
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jest/recommended" // Add this line for Jest recommended rules
  ],
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn",
    "no-inner-declarations": "off"
  }
}
