@use '~styles/main' as *;

.board_modal {
  &__wrapper {
    position: absolute;
    @extend %full-size;
    @include flex(column, center, center);
    background-color: $board_modal-background;
    z-index: 2;
    color: $board-modal-text;
    gap: 5rem;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    color: $board-modal-text;
  }

  &__ready_button {
    @include primary-border;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.5s ease-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
