@use '~styles/main' as *;

.user {
  &__container {
    @include flex(column, center, center);
    width: 100%;
    border: dashed 2px gray;
    padding: 0.8em 1.1em;
    gap: 0.7em;
  }

  &__wrapper {
    width: 100%;
    @include flex(row, center, center);
    gap: 1.4em;
  }

  &__input {
    flex: auto;
  }
  &__label {
    @include modal_label(1.1em);
  }
}
