@use '../variables/index.scss' as *;

@mixin flex($direction: row, $justify: center, $align: center, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin primary-border($width: 2.3px, $color: $border-primary) {
  border-radius: 1rem;
  border: $width solid $color;
}

@mixin modal_label($font_size) {
  flex: 1;
  font-size: $font_size;
  text-wrap: nowrap;
  color: $text-secondary;
}
