@use '~styles/main' as *;

.board {
  @include flex(column, start, center);
  min-width: 16rem;
  min-height: 12rem;

  @extend %full-size;
  margin: 5rem 0 10rem 0;

  @media (max-width: $mobile-viewport) {
    margin: 2rem 0 2rem 0;
  }

  &__wrapper {
    position: relative;
    @include flex(column, center, center);
    gap: 1rem;
    @include primary-border;
    padding: 5px;
  }

  &__cards_container {
    display: grid;
    justify-content: center;
    align-items: center;

    @media (max-width: $desktop-viewport) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 0.7rem;
      width: 90vw;
    }

    @media (max-width: $tablet-viewport) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 0.7rem;
      width: 90vw;
    }

    @media (max-width: $mobile-viewport) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 0.8rem;
      width: 90vw;
    }

    @media (max-width: $small-mobile-viewport) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(7, 1fr);
      gap: 0.5rem;
      width: 90vw;
    }

    @media (min-width: $desktop-viewport) and (max-width: $ultra-large-desktop-viewport) {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      width: 75vw;
      gap: 0.8rem;
    }

    @media (min-width: $ultra-large-desktop-viewport) {
      grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
      width: 75vw;
      max-width: 75rem;
      gap: 0.9rem;
    }
  }
}
