@use '~styles/main' as *;

.board {
  // position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $background-main;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
  }
}
