@use '~styles/main' as *;

.board {
  // position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  // max-height: 50rem;
  // max-width: 60rem;
  // // margin: auto auto;
  background-color: $background-main;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
  }
}
