// General Background Colors
$background-main: #feebd7;
$background-secondary: #ed714a;
$background-card: #ffa52e;

// Interaction Colors
$interaction-primary: #ff784e;

// Border Colors
$border-primary: #ffb955;

// Text Colors
$text-primary: darken($border-primary, 20%);
$text-secondary: #a6b9aff5;
