// General Background Colors
$background-main: #f7ede2;
$background-secondary: #ed714a;
$background-card: #ffa52e;
$background-dark: #b8bcc3;

// Interaction Colors
$interaction-primary: #ff5e2c;

// Text Colors
$text-primary: #9d6b23;
$text-secondary: #a6b9aff5;
