/* Viewport sizes */
$small-mobile-viewport: 31rem; // 500px
$mobile-viewport: 48rem; // 767px;
$tablet-viewport: 52rem; // 834px;
$desktop-viewport: 64rem; // 1024px;
$medium-desktop-viewport: 69rem; // 1104px;
$large-desktop-viewport: 75rem; // 1200px;

/* Widths */
$min-page-width: 25rem;
$game-card-size: 8vw;
$min-game-card-size: 4rem;
