@keyframes slide-up-fade-in {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// Usage example
// div {
//   animation: slide-up-fade-in .3s ease-out forwards;
// }

// @keyframes rotate- //flips to reveal its backside
