@use '../variables/index' as *;

a {
  text-decoration: none;
  color: inherit;
}

body {
  overflow: hidden;
  position: relative;
  color: $text-primary;
}

img {
  pointer-events: none;
}

input,
button {
  color: #fff;
  background-color: transparent;
}

html,
body {
  min-width: $min-page-width;
}
