@use '../variables/index' as *;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  color: $text-primary;
  background-color: $background-main;
}

img {
  pointer-events: none;
}

input,
button {
  color: #fff;
  background-color: transparent;
}

html,
body {
  min-width: $min-page-width;
}
