@use '../variables/colors' as *;

a {
  text-decoration: none;
  color: inherit;
}

body {
  overflow: hidden;
  position: relative;
  color: $text-primary;
}

img {
  pointer-events: none;
}

input,
button {
  color: #fff;
  background-color: transparent;
}
