@font-face {
  font-family: 'Ennobled Pet';
  src: url('~assets/fonts/ennobled-pet/Ennobled-Pet.otf') format('opentype');
}

@font-face {
  font-family: 'Party-Vibes';
  src: url('~assets/fonts/party-vibes/Party-Vibes.otf') format('opentype');
}

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.text-decoration-off {
  text-decoration: none;
}

body {
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.15;
}

h1 {
  font-weight: 700;
  font-size: 3.05em;
}

h2 {
  font-size: 2.44em;
}

h3 {
  font-size: 1.95em;
}

h4 {
  font-size: 1.56em;
}

h5 {
  font-size: 1.25em;
}

.medium .text-medium {
  font-size: 0.8em;
}

small,
.text-small {
  font-size: 0.64em;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-uppercase-bold {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
